
<% @page_title = @blog.name + " - 管理メニュー" %>




<p><%= link_to "[公開ページ]", "/blogs/#{@blog.urlkey}" %>

<p>公開されたエントリの編集などは, 公開ページの各エントリからおこなってください.



<h2>ドラフト</h2>

<p><%= link_to "[新しいエントリ...]", :controller => "entries", :action => "new", 
               :id => @entry %>

<% entries = Entry.where("blog_id = ? AND status = 0", @blog.id) \
                  .order("date, id") %>

<table >
  <thead>
    <tr>
      <th>日付
      <th>本文
      <th nowrap>更新
  </thead>
<% entries.each do |entry| %>
  <tr>
    <td valign="top"><%= entry.date %>
    <td>
      <table>
        <tr><th><%= entry.title %>
        <tr><td><%= Sanitize.fragment(entry.body)[0..100] %>
      </table>
    <td><%= entry.created_at %> <%= entry.created_by.name %>
      <%= entry.updated_by ? "#{entry.updated_at} #{entry.updated_by.name}" : nil %>
    <td><%= link_to "[preview]",
                    :controller => "entries", :action => "preview", :blog_urlkey => @blog.urlkey, :entry_id => entry.id %>
<% end %>
</table>





<h2>未来日付のエントリ</h2>

<p>公開設定されているが、日付が来ていないもの。

<% entries = Entry.where("blog_id = ? AND status <> 0 AND date > ?", 
                                @blog.id, Date.today) \
                  .order("date, id") %>

<table>
  <tr>
    <th>日付
    <th>タイトル
    <th nowrap>作者
<% entries.each do |entry| %>
  <tr>
    <td nowrap valign="top"><%= entry.date %>
    <td><b><%= entry.title %></b> <%= entry.body[0..100] %>
    <td><%= entry.created_by.name %>
    <td nowrap><%= link_to "[preview]",
                           :controller => "entries", :action => "preview", :blog_urlkey => @blog.urlkey, :entry_id => entry.id %>
<% end %>
</table>





<h2>設定</h2>

<p><%= link_to "[画面テーマを選ぶ...]", "/blogs/#{@blog.id}/admin/select_theme" %>



<h2>スペース</h2>

<% ug = @blog.user_group %>

<p><%= tag "a", 
           {:href => Rails.application.config.accounts_app_url + "/spaces/show/#{Accounts::UserGroup.find_by_urlkey(ug.urlkey).id}"},
           true %>
    <%= @blog.user_group.name %>
  </a>

<p>メンバ:

<table>
<% @blog.members.each do |u| %>
  <tr>
    <td><%= u.name %>
<% end %>
</table>
