
<% @page_title = "テーマ選択" %>

<script type="text/javascript">
function select_stylesheet(name) {
  link = document.getElementById('themelink');
  link.href = '<%= WebDiary::Application.config.theme_base_url %>' + '/' + name + '/' + name + '.css';
}
</script>


<div style="background-color:#ffffff;color:#000000;border:dashed #000000 3px;margin:6px;">

<table border="0" align="center" width="80%">
  <tr><td>
<p>デザインを選択して「適用」を押してください。

<%= form_for @blog, :url => {:action => "update_theme", :id => @blog}, 
             :method => :post do |f| %>
<table class="frm">
  <tr><th nowrap>テーマ名：
    <td>
      <select name="theme" onChange="select_stylesheet(this[this.selectedIndex].value);">
<%= options_for_select @themes, @blog.theme_filename %>
      </select>
  <tr><td colspan="2" align="center">
    <%= link_to "[キャンセル]", "/blogs/#{@blog.id}/admin" %>
    <input type="submit" value="適用" />
</table>
<% end %>

</table>
</div>

<%= render :partial => "entries/show", :locals => {:entry => @entry} %>

