
<nav class="calendar">
  <%= tag "a", {:href => "/blogs/#{@blog.urlkey}"}, true %>最新</a>

<% e = Entry.where("blog_id = ? AND status <> 0", @blog.id) \
            .order("date").first
   ( (e ? e.date.year : Date.today.year).. Date.today.year).each do |y| %>
  <div class="year">
<%= y %>年 | 
<%   (1..12).each do |m| 
       if Entry.where("blog_id = ? AND status <> 0 AND (date BETWEEN ? AND ?)",
                      @blog.id, Date.new(y, m, 1), 
                      (Date.new(y, m, 1) >> 1) - 1) \
               .first %>
<%= tag "a", {:href => sprintf("/blogs/%s/%04d-%02d", @blog.urlkey, y, m)}, true %>
  <%= sprintf("%02d", m) %>
</a>
<%     else %>
  <%= sprintf("%02d", m) %>
<%     end 
     end %>
  </div>
<% end %>
</nav>
