
<% @page_title = "ブログの一覧" %>



<% @blogs.each do |blog|
     # 全件数
     entry_cnt = Entry.where('blog_id = ? AND status <> 0', blog.id).select('COUNT(*) as cnt').order('').first %>
<p><%= link_to "#{blog.name.blank? ? "no named blog" : blog.name}(#{entry_cnt.cnt})", :controller => "blogs", :action => "show", :urlkey => blog.urlkey %>
  <%= Sanitize.clean(blog.lead, Sanitize::Config::RESTRICTED)[0..200].html_safe %>
<% end %>

