
<% @page_title = "#{@mon.year}年#{@mon.mon}月" %>
<% @crumbs = [
   {:title => @blog.name, :controller => 'blogs', :action => 'show', :urlkey => @blog.urlkey}
   ] %>


<%= render :partial => "calendar" %>

<hr class="sep" />




<% if @entries.empty? %>

<p>公開エントリは一つもありません。

<% else %>

<%   @entries.each do |entry| %>
<%= render :partial => "entries/show", :locals => {:entry => entry} %>
<%   end %>

<% end %>
