
<% @page_title = "最新" %>



<%= render :partial => "calendar" %>


<hr class="sep" />

<% if @entries.empty? %>

<p>公開エントリは一つもありません。

<% else %>

<%= will_paginate @entries, blog_paginate_options() %>

<%   @entries.each do |entry| %>
  <%= render :partial => "entries/show", :locals => {:entry => entry} %>
<%   end %>

<%= will_paginate @entries, blog_paginate_options() %>

<% end %>
