
<% # @param entry 1エントリ
   # 外側の article タグは、呼出し側で生成する
  %>

<% blog = entry.blog %>



  <h2>
    <%= link_to "_", :controller => "entries", :action => "show",
                     :blog_urlkey => blog.urlkey, :id => entry %>
    <span class="title"><%= entry.title.blank? ? "notitle" : entry.title %></span>
    <small><%= entry.date %></small>
  </h2>

  <div class="body">

<% if !entry.tags.empty? %>
    <div class="tags">
      Tag(s):
<%   entry.tags.each do |tag| %>
      <%= link_to tag.name, "/tags/#{tag.id}" %>
<%   end %>
    </div> <!-- .tags -->
<% end %>

<% entry.resources.each do |res|
       book = res.amazon_response_item ?
                Resource.amazon_book(Nokogiri::XML(res.amazon_response_item).root) : {}
  %>
<div class="grid-x">
  <div class="small-2 cell">
    <%= tag 'a', {href: book[:large_image], target:'_blank'}, true %>
      <%= tag 'img', {src: book[:image_url]}, false %>
    </a>
  </div>
  <div class="small-10 cell">
    <%= res.title %>
<%     res.authors.each do |person| %>
    <%= person %>(著)
<%     end %>
    <br /><%= res.publisher %> <%= res.publication_date %>
    <br /><%= link_to 'エントリ一覧', :controller => 'resources', :action => 'show', :id => res.id %>
    <%= tag 'a', {href: book[:detail_link], target: '_blank'}, true %>詳細ページ</a>
  </div>
</div>
<% end %>




    <section>
<%= Sanitize.clean(entry.body, Sanitize::Config::RELAXED).html_safe %>
    </section>
  
    <div class="footnote">
<% if !entry.attach_files.empty? %>
      <p><b>添付ファイル:</b>
<%   entry.attach_files.each do |attach| %>
<%= link_to attach.original_filename, "/blogs/#{blog.id}/entries/#{entry.id}/attaches/#{attach.id}" %> &nbsp;
<%   end %>
<% end %>

      <p align="right">
<% user = entry.update_user_id ? entry.updated_by : entry.created_by %>
    by <%= link_to user.name, :controller => "users", :action => "show", :login => user.login %>
    </div> <!-- .footnote -->

  </div><!-- .body -->
