
<% # pagination は、必要であれば、呼び出し側で表示すること
   # @param entries エントリのリスト
  %>

<% content_for :head do %>
<style type="text/css">
  article { margin-bottom:2em; }
</style>  
<% end %>





<% entries.each do |entry| %>
<article>
  <h3>
    <%= entry.title.blank? ? "notitle" : entry.title %>
    <small><%= entry.date %></small>
  </h3>

  <% user = entry.update_user_id ? entry.updated_by : entry.created_by %>
  <p><%= link_to entry.blog.name,
                 :controller => "blogs", :action => "show", :urlkey => entry.blog.urlkey %>
    by <%= link_to user.name, :controller => "users", :action => "show", 
                               :login => user.login %>

  <div class="body">
<%= render :partial => "entries/subjects", :locals => {:entry => entry} %>      

<%= Sanitize.clean(entry.body, Sanitize::Config::RESTRICTED)[0..200].html_safe %>
  </div>
  <%= link_to "続きを読む...", :controller => "entries", :action => "show", 
                                       :id => entry, :blog_urlkey => entry.blog.urlkey %>
</article>
<% end %>
