
<% # @param @entry エントリ
   # @param @tags このエントリのタグ
   # @param @cand_tags タグ候補
  %>

<%= javascript_include_tag "entries_form" %>

<%= error_messages_for :entry %>



<div class="grid-x">      
  <div class="large-2 cell">
    <label>日付:</label>
  </div>
  <div class="large-10 cell">
    <%= date_select2 "entry", "date" %> 未来日付も可。
  </div>
</div>

<div class="grid-x">      
  <div class="large-2 cell">
    <label>タイトル:</label>
  </div>
  <div class="large-10 cell">
    <%= f.text_field "title", :size => 55 %>
  </div>
</div>



<div class="grid-x">      
  <div class="large-2 cell">
    <label>本文:</label>
  </div>
  <div class="large-10 cell">
    <%= f.text_area "body", :id => "editor1", :cols => 60, :rows => 10, 
                        :cols => 80 %>
  </div>
</div>

<script type="text/javascript">
  replace_editor("editor1");
</script>



<div class="grid-x">      
  <div class="large-2 cell">
    <label>タグ:</label>
  </div>
  <div class="large-10 cell">
    <fieldset id="tag_list">
<% @tags.each_with_index do |tag, i| %>
      <label class="secondary label" style="margin:0.5em">      
        <%= hidden_field_tag "tag[]", tag.name %> <%= tag.name %>
        <a style="background-color:white;font-size:12pt" onclick="remove_tag(this);return false;">
          <span aria-hidden="true">&times;</span></a>
      </label>
<% end %>
    </fieldset> <!-- /#tag_list -->

    <div class="grid-x">
      <div class="small-3 cell"><label>新しいタグ:</label></div>
      <div class="small-7 cell">
        <input type="text" name="tag[]" id="new_tag" />
      </div>
      <div class="small-2 cell">
        <button type="button" class="btn btn-default" onclick="add_new_tag(); return false;">追加</button>
      </div>
    </div>

    <fieldset id="cand_tags">
      <legend>タグ候補</legend>

<% @cand_tags.each do |tag| %>
        <%= tag 'a', {class:"small button", onclick:"add_tag('" + h(tag.name) + "');$(this).hide();return false;"}, false %><%= tag.name %></a>
<% end %>
    </fieldset>
<script type="text/javascript">hide_dup_tags();</script>

  </div> <!-- /.large-10 cell -->
</div>




