
<% # 1エントリ(完全)を表示
   # @param entry 1エントリ
  %>

<% blog = entry.blog %>



<% # divでなければならない
  %>
<article>

  <%= render :partial => "entries/body", :locals => {:entry => entry} %>

  <div class="comment">
<% if blog.user_group.member?(current_user) %>
    <div style="border:solid 3px #999">    
      <%= link_to "[編集...]", :controller => 'entries', :action => 'edit', :blog_urlkey => blog.urlkey, :id => entry.id, :from => 'show' %>
      <%= link_to "[ドラフト(非公開)化]",
                  {:controller => 'entries', :action => 'set_private', :blog_urlkey => blog.urlkey, :entry_id => entry.id}, :method => :post %> <br />
      <%= link_to "本を追加する...",
               :controller => 'resources', :action => 'new_book', :entry => entry %>
    </div>
<% end %>

    <div class="caption">
      コメント (全<%= entry.comments.size %>件) 
      [<a href="/blogs/....●●.@comadd">コメントを付ける</a>]
      [<a href="/....●●...@comview">すべてのコメントを表示</a>]
    </div><!-- caption -->

    <div class="commentbody">
<% entry.comments.each do |comment| %>
      <div class="commentator">
        <a href="●●"><span class="canchor">_</span></a>
        <span class="commentator"><%= comment.created_by.name %></span> 
        at <span class="commenttime">●●●</span>
      </div>
      <p><%= comment.body %>
<% end %>
    </div>
  </div><!-- comment -->

  <div id="comment-form-section">
  </div> <!-- #comment-form-section -->

</article>
