
<% if !entry.resources.empty? %>
    <div>
      Subject(s): 
      <ul>
<%   entry.resources.each do |res| %>
        <li><%= link_to res.title, :controller => 'resources', :action => 'show', :id => res.id %>
<%     res.authors.each do |person| %>
      <%= person %>(著)
<%     end %>
      <%= res.publisher %> <%= res.publication_date %>
<%   end %>      
      </ul>
    </div>
<% end %>
