
<% @page_title = "エントリの編集" %>

<% content_for :head do %>
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/javascripts/calendar.js"></script>
<% end %>



<%= form_for( [@blog, @entry],
              :url => {:controller => 'entries', :action => 'update',
                       :id => @entry.id, :blog_urlkey => @blog.urlkey},
                    :html => {:enctype => "multipart/form-data"} ) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

<p>
<% if @back_path %>
  <%= link_to "[キャンセル]", @back_path %>
<% end %>
  <input type="submit" name="draft" value="ドラフト保存" />
  <input type="submit" name="confirm" value="保存 &amp; 確認 >>" />
</p>

<% end %>
