
<% @page_title = "新しいエントリ" %>

<% content_for :head do %>
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/javascripts/calendar.js"></script>
<% end %>



<%= form_for( [@blog, @entry],
              :url => {:action => 'create', :blog_url => @blog.urlkey},
                    :html => {:enctype => "multipart/form-data"} ) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

<p>
  <%= link_to "[キャンセル]",
              :controller => "blog_admin", :action => "index", 
                                              :blog_urlkey => @blog.urlkey %>
  <input type="submit" name="draft" value="ドラフト保存" />
  <input type="submit" name="confirm" value="保存 &amp; 確認 >>" />
</p>
<% end %>

