
<% @page_title = @entry.title + " [PREVIEW]" 
   @crumbs = [
     {:title => "管理メニュー", :controller => "blog_admin", :blog_urlkey => @blog.urlkey}
   ]
  %>


  
<article class="day autopagerize_page_element">
<%= render :partial => "body", :locals => {:entry => @entry} %>
</article>



<hr />


<% edit_link = {:controller => "entries", :action => "edit",
                :blog_urlkey => @blog.urlkey, :id => @entry.id}
   public_link = {:controller => "entries", :action => "set_public",
                  :blog_urlkey => @blog.urlkey, :entry_id => @entry.id} %>

<% if controller.action_name == 'preview'
     edit_link.merge!({:from => 'preview'})
   end %>

<p><%= link_to '[編集...]', edit_link %>
  <%= link_to '[本を追加...]', :controller => 'resources', :action => 'new_book', :entry => @entry.id %>
  <%= link_to "公開", public_link, 
              :class => "success button", :method => :post %>

  <%= link_to '削除', {:controller => "entries", :action => "destroy", :blog_urlkey => @blog.urlkey, :id => @entry.id},
              :class => "alert button",
              :data=>{:confirm => "本当に削除しますか?"}, :method => :delete %> 
