
<% @page_title = @entry.title.blank? ? "notitle #{@entry.date}" :
                                       "#{@entry.title} #{@entry.date}" %>
<% @crumbs = [
   {:title => @blog.name, :controller => 'blogs', :action => 'show', :urlkey => @blog.urlkey},
   {:title => "#{@entry.date.year}-#{@entry.date.mon}",
    :controller => 'blogs', :action => 'month', :blog_urlkey => @blog.urlkey, :year => @entry.date.year, :mon => sprintf("%02d", @entry.date.mon)}
   ] %>


<%= render :partial => "blogs/calendar" %>

<hr class="sep" />




<%= render :partial => "show", :locals => {:entry => @entry} %>

