
<% @page_title = "ユーザ: " + @user.name %>

<table>
  <tr><th>userid: <td><%= @user.login %>
  <tr><th>name:   <td><%= @user.name %>
</table>

<p>
<% if current_user && current_user.login == @user.login %>
  <%= link_to '編集...', :action => 'edit', :login => @user.login %>
<% else %>
  <span style="color:gray">編集...</span>
<% end %>
  
