
<% @page_title = "Home" %>


<p>コラボブログは, 複数の人で一つのブログを管理でき, 持ち回りで記事を書いたりできます。

<p>公開日を未来日付にすることで, 書き溜めもできます。

<p>記事は一般に公開されます。



<p><%= link_to "ブログの一覧", :controller => "blogs", :action => "index" %>
 
  <%= link_to "タグの一覧", :controller => "tags", :action => "index" %>

  <%= link_to "リソースの一覧", :controller => "resources", :action => "index" %>


<h2>最近の投稿(10)</h2>

<%= render :partial => 'entries/entry_leads',
           :locals => {:entries => @entries} %>
