

<h2>'amazon-ecs' gem</h2>

パラメータエラーの場合は, 正常完了し, レスポンスXML内の<Errors>要素に <Error>が含まれる.
503 など HTTPエラーの場合は, Amazon::RequestError 例外が上がる. 区別つかない.

#     インタネット上に手引きが豊富
#     HTTPエラーの場合に種類が取れない.
#     https://github.com/jugend/amazon-ecs




    
<h2>'vacuum' gem</h2>

503 エラーの場合は Excon::Error::ServiceUnavailable 例外が上がる.
パラメータエラーの場合は, 正常戻り値 [Vacuum::Response] だが,
Errors 要素内に Error 要素がある.
    
    


レスポンスグループ 'Medium':
- EditorialReview

<EditorialReviews>
  <EditorialReview>
    <Source>Product Description</Source>
    <Content>Considered by many to be the last great musical comedy, then the rest of the review continues here.
    </Content>
  </EditorialReview>
</EditorialReviews>

  - Images
  - ItemAttributes
  - OfferSummary
  - Request
  - SalesRank
  - Small

利用者レビューは取得できない。全体的に日本語サイトは情報が古い (APIバージョンも違う).





<h2>'amazon_product' gem</h2>
#     Homepageがリンク切れ。もはやメンテナンスされていない、か?



<h2>'amazon-product-advertising-api' gem</h2>

#     最新版が 2009年. メンテナンスされていない。

