
<% @page_title = "タグ: " + @tag.name %>
<% if @blog %>
<% @crumbs = [
   {:title => @blog.name, :controller => 'blogs', :action => 'show', :urlkey => @blog.urlkey}
   ] %>
<% end %>

<% if @blog %>
<p><%= link_to "すべてのブログ", "/tags/#{@tag.id}" %>
<% end %>


<%= will_paginate @entries, blog_paginate_options() %>

<%= render :partial => 'entries/entry_leads',
           :locals => {:entries => @entries} %>

<%= will_paginate @entries, blog_paginate_options() %>

