
<% # @param @resource リソース
  %>

  <%= error_messages_for :resource %>
    
<div class="grid-x">
  <div class="medium-2 cell">
    <label>書名:</label>
  </div>
  <div class="medium-10 cell">
    <%= f.text_field :title %>
  </div>
</div>    

<div class="grid-x">
  <div class="medium-2 cell">
    <label>版:</label>
  </div>
  <div class="medium-10 cell">
    <%= f.text_field :edition %>
  </div>
</div>    

<div class="grid-x">
  <div class="medium-2 cell">
    <label>著者:</label>
  </div>
  <div class="medium-10 cell">
    <%= f.text_field :author %>
    共著の場合は「;」セミコロンで区切る.
  </div>
</div>    

<div class="grid-x">
  <div class="medium-2 cell">
    <label>装丁家:</label>
  </div>
  <div class="medium-10 cell">
    <%= f.text_field :book_designer %>
  </div>
</div>    

<div class="grid-x">
  <div class="medium-2 cell">
    <label>出版社:</label>
  </div>
  <div class="medium-10 cell">
    <%= f.text_field :publisher %>
  </div>
</div>    

<div class="grid-x">
  <div class="medium-2 cell">
    <label>発行日:</label>
  </div>
  <div class="medium-10 cell">
    <%= date_select2 :resource, :publication_date %>
    版の第1刷の発行日.
  </div>
</div>    

<div class="grid-x">
  <div class="medium-2 cell">
    <label>ジャンル:</label>
  </div>
  <div class="medium-10 cell">
    <%= f.text_field :genre %>
  </div>
</div>

<div class="grid-x">
  <div class="medium-2 cell">
    <label>国:</label>
  </div>
  <div class="medium-10 cell">
    <%= f.text_field :country %> 2レターコード.
  </div>
</div>    

