
<% # @param @search_box 検索ボックス
   # @param @entry 紐づけるエントリ (必須)
  %>   

<%= form_for( @search_box, :url=>{:action=>'search'},
              :html => {:class => 'callout small'}, :method=>:post ) do |f| %>
  <%= error_messages_for :search_box %>
  <%= hidden_field_tag :entry, @entry.id %>
  
<div class="grid-x">
  <div class="medium-2 cell">
    <label>カテゴリ:</label>
  </div>
  <div class="medium-10 cell">
    <%= f.select 'search_index',
                 (AmazonSearchBox::SEARCH_INDEX.map do |x| [x[1], x[0]] end) %>
  </div>
</div>

<div class="grid-x">
  <div class="medium-2 cell">
    <label>検索テキスト:</label>
  </div>
  <div class="medium-10 cell">
    <%= f.text_field :keywords %>
    タイトル、著者、アーティスト、商品説明、メーカー
  </div>
</div>

<div class="grid-x">
  <div class="medium-2 cell">
    <label>著者:</label>
  </div>
  <div class="medium-10 cell">
    <%= f.text_field :author %>
  </div>
</div>

  <%= link_to 'キャンセル', :controller => 'entries', :action => 'show', :blog_urlkey => @entry.blog.urlkey, :id => @entry %>
  <%= submit_tag '検索' %>
<% end %>

