<h1>Editing Subject</h1>

<%= form_for( @resource, :url => {:action => 'update'} ) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

  <div class="actions">
    <%= link_to 'キャンセル', @resource %>
    <%= f.submit %>
  </div>

<% end %>
