

<h1>Listing Subjects</h1>


<%= will_paginate @resources %>

<table>
 
<% @resources.each do |resource|
     book = if resource.amazon_response_item
              Resource.amazon_book(Nokogiri::XML(resource.amazon_response_item).root)
            else
              {}
            end %>
  <tr>
    <td colspan="6"><%= resource.title %> <%= resource.edition %>
  <tr>
    <td>        
<% if book[:image_url] %>
      <%= tag 'img', {src: book[:image_url]} %>
<% end %>
    <td>
<%   resource.authors.each do |person| %>
      <%= person %>(著)
<%   end %>
<%   if resource.book_designer %>
      <%= resource.book_designer%>(装丁)
<%   end %>
      <%= resource.publisher %>
    <td><%= resource.publication_date %>
    <td><%= resource.genre %>
    <td><%= resource.country %>
    <td>
      <table>
        <tr><td nowrap><%= link_to 'エントリ一覧', :action => "show", :id => resource %>
<%   if book[:detail_link] %>
        <tr><td><%= tag 'a', {href: book[:detail_link], target: '_blank'}, true %>詳細ページ</a>
<%   end %>
      </table>
<% end %>
</table>

<%= will_paginate @resources %>


