
<% @page_title = "本を紐づける" %>

<% # @param @entry 紐づけるエントリ
  %>


<%= render :partial => 'search_box' %>


<% if @error && !@error.empty? %>
<div id="errorExplanation">
  <ul>
<%   @error.each do |error_msg| %>
    <li><%= error_msg %>
<%   end %>  
  </ul>
</div>
<% end %>

