
<%= form_tag( :controller => 'resources', :action => 'create', :entry => @entry, :method => :post) do %>
<table>
<% @books.each do |book| %>
  <tr>
    <td>
<% if book[:IsAdultProduct].to_i == 0 %>      
      <%= tag 'button', {type:'submit', name:"book", value:book[:asin], class:'success button'}, true %>追加</button>
<% else %>
      (R18)
<% end %>
    <td>
      <table>
        <tr><th nowrap>カテゴリ: <td><%= book[:product_category] %>
        <tr><th nowrap>タイトル: <td><%= book[:title] %>
        <tr><th nowrap>作者:
          <td>
<% book[:authors].each do |person| %>
            <%= person %>(著) 
<% end %>                    
<% book[:actors].each do |person| %>
            <%= person %>(出演) 
<% end %>                    
<% book[:directors].each do |person| %>
            <%= person %>(監督) 
<% end %>                    
        <tr><th>出版社: <td><%= book[:publisher] %>
        <tr><th>出版年月: <td><%= book[:PublicationDate] || book[:ReleaseDate] %>
      </table>
    <td>
<% if book[:IsAdultProduct].to_i == 0 %>      
      <%= tag :img, src: book[:image_url], height:160 %>
<% else %>
      (R18)
<% end %>
    <td><%= tag :a, {href: book[:detail_link], target: '_blank'}, true %>詳細ページ</a>
<% end %>
</table>
<% end %>
