
<% @crumbs = [
   {:title => 'リソースの一覧', :action => 'index'},
  ] %>

<% book = @resource.amazon_response_item ?
                Resource.amazon_book(Nokogiri::XML(@resource.amazon_response_item).root) : {}
  %>

<div class="grid-x">
  <div class="small-2 cell">
    <%= tag 'a', {href: book[:large_image], target:'_blank'}, true %>
      <%= tag 'img', {src: book[:image_url]}, false %>
    </a> (クリックで拡大)

    <br /><%= tag 'a', {href: book[:detail_link], target: '_blank'}, true %>詳細ページ</a>

  </div>
  <div class="small-10 cell">

<table>
  <tr><th nowrap>タイトル: <td><%= @resource.title %>
  <tr><th>版:   <td><%= @resource.edition %>
  <tr><th>著者: <td><%= @resource.authors.join(', ') %>
  <tr><th>装丁家: <td><%= @resource.book_designer %>
  <tr><th nowrap>出版社/<br />メーカー:  <td><%= @resource.publisher %>
  <tr><th>発行日:  <td><%= @resource.publication_date %>
  <tr><th>ジャンル: <td><%= @resource.genre %>
  <tr><th>国:    <td><%= @resource.country %>
</table>
  </div> <!-- /.small-10 cell -->
</div>

<% if !book[:EditorialReviews].empty? %>
<dl>
<%   book[:EditorialReviews].each do |review_elm| %>
  <dt><%= review_elm.css('Source').first &.text %>
  <dd><%= Sanitize.clean(review_elm.css('Content').first.text, Sanitize::Config::BASIC).html_safe %>
<%   end %>
</dl>
<% end %>


<p>
<% if current_user && current_user.superuser %>
  <%= link_to '編集...', :action => "edit", :id => @resource %>
  <%= link_to '削除', {:action => "destroy", :id => @resource},
              :data => {:confirm => '本当に削除しますか?'}, :method => :delete %>
<% else %>
  <span style="color:gray">編集...</span>
  <span style="color:gray">削除</span>
<% end %>  






<h2>このリソースを参照するエントリ</h2>

<%= render :partial => 'entries/entry_leads',
           :locals => {:entries => @entries} %>
