



<div class="row">
  <div class="col-sm-6">
<%= form_for :user, 
             :url => {:controller => "account", :action => "authenticate"}, 
             :method => :post, 
             :html => {:class=>"well"} do |f| %>
<label>eメールアドレス:
  <%= f.text_field :email, :class => "input-block-level" %>
</label>

<label>パスワード:
  <%= f.password_field :password, :class => "input-block-level" %>
</label>

  <label style="margin-bottom:0; padding-bottom:0">
    <%= check_box_tag :remember_me %> ログインしたままにする。
  </label>
  <p>(共用PCではチェックしないでください.)
  <div class="form-actions">
    <%= f.submit "ログイン", :class => "btn btn-primary" %>
    <%= link_to "[パスワードを忘れた...]", :controller => "account", 
              :action => "forgot_password" %>
  </div>

<% end %>
  </div> <!-- /.col-sm-6 -->

  
  <div class="col-sm-6">
<p>または、次のアカウントでログインする; (パスワードがNetsphere Accountsに渡ることはありません。)

<% [["Facebook", "FB-f-Logo__blue_50.png", "facebook"],
    ["Google", "btn_g_red_normal.png-25.png", "google_oauth2"]].each do |a| %>
  <p><%= link_to image_tag("/images/" + a[1],
                         :border => 0, :style => "margin-right:5px;", 
                         :width => 48) + 
               "Log in with " + a[0], 
               "/auth/" + a[2],
               :method => :post %>
<% end %>

  <p>ゲストとしてログインするには, メールアドレス/パスワードとも, guestと入力してください。
  </div>
</div>
