
<% @page_title = current_user ? "別のユーザでログイン" : "ログイン" %>




<% if @error %>
<div id="error_explanation">
  <h2>Please Try Again!</h2>
  <ul>
    <li><%= @error %>
  </ul>
</div>
<% end %>




<%= render :partial => "account/login" %>


