
<style type="text/css">
  .gsc-input { padding:0; min-width:6em;}
  .gsc-search-button { padding:0; }
</style>

<% # d.nslabs.jp
  %>
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-25518381-2', 'auto');
  ga('send', 'pageview');
</script>
