
<!-- Start Top Bar -->
<nav class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li>
        <a href="/" style="font-size:85%">
          <b><%= Rails.application.config.service_name %></b></a>
    </ul>
  </div> <!-- /.top-bar-left -->
  
  <div class="top-bar-right" >
<% if current_user %>
    <ul class="dropdown menu" data-dropdown-menu role="menubar" >
      <li class="is-dropdown-submenu-parent">
        <a >Myブログ</a>
<%   ug = (current_user.is_a?(::User) ? 
            current_user : ::User.find_by_login(current_user.login)).blogs
     if !ug.empty? %>
        <ul class="submenu menu is-dropdown-submenu" data-submenu aria-hidden="true" role="menu">
<%     ug.each do |blog| %>
          <li><%= link_to blog.name, 
                      :controller => "blogs", :action => "show", :urlkey => blog.urlkey %>
<%     end %>
        </ul>
<%   end %>
      <li class="is-dropdown-submenu-parent">
        <a ><%= current_user.name %></a> 
        <ul class="submenu menu is-dropdown-submenu" data-submenu aria-hidden="true" role="menu" >
          <li><%= link_to "ユーザ情報", :controller => "users", :action => "show", :login => current_user.login %>
          <li><%= link_to "アカウント",
                  ::WebDiary::Application.config.accounts_app_url + "/account" %>
          <li><hr /></li>
          <li><%= link_to "ログアウト", 
                        Rails.application.config.accounts_app_url +
                                "/account/logout?return_to=" +
                                Rails.application.config.app_root_url,
                        :method => :post %>
        </ul>
    </ul> <!-- /.dropdown menu -->        

<% else # !current_user
  %>
    <ul class="menu">   
<% if $ENABLE_SSO %>        
      <li><%= link_to "ID登録...", ::WebDiary::Application.config.accounts_app_url + "/account/signup" %>
      <li><%= link_to "ログイン...",
                    Rails.application.config.accounts_app_url + 
                    "/account/sso?return_to=" + Rails.application.config.redirect_uri %>
<% else %>
      <li><%= link_to "ログイン...",
                      {:controller => 'account', :action => 'login', :return_to => request.original_url},
                      :class => 'button', :style=>'color:white' %>
<% end %>
    </ul>        
<% end %>
    
  </div>
</nav>
<!-- End Top Bar -->

<% # パンくずナビゲーション. 管理メニューがトップになることがある.
   if @crumbs %>
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
<%   @crumbs.each do |opt_hash| 
       opt = opt_hash.dup; opt.delete(:title) %>
      <li><%= link_to opt_hash[:title], opt %>
<%   end %>
      <li>        
    </ul>
  </nav>    
<% end %>
