
<div style="min-width:165px">
<script>
  (function() {
    var cx = '008754149850665325216:yzzp0qvmrms';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>

<div style="min-width:165px">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 日記サイト -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1525727753584386"
     data-ad-slot="8076624471"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
