
<% if (s = notice() ) %>
    <div class="callout success" role="alert" data-closable>
      <button type="button" class="close-button" aria-label="dismiss alert" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <p id="notice"><%= s %></p>
    </div>
<% end %>
<% if (s = alert() ) %>
    <div class="callout warning" role="alert" data-closable>
      <button type="button" class="close-button" aria-label="dismiss alert" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <p id="alert"><strong>Alert:</strong> <%= s %></p>
    </div>
<% end %>
