<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <%= tag "link", :rel => "start",  
                    :href => Rails.application.config.app_root_url + "/" %>
  <base target="_top" />

  <title><%= @page_title || raise %> 
<% if @layout_entries %>
      - <%= @blog.name %>
<% end %>
      | <%= Rails.application.config.service_name %>
  </title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", 
                             type: "module" %>

  <%= yield :head %>
  <%= render :partial => "layouts/google" %>
</head>
<body id="top">
  
<%= render :partial => "layouts/navbar" %>





  <header class="page-header">
    <h1><%= @page_title %>
<% if @layout_entries %>
      - <%= @blog.name %>
<% end %>
    </h1>
  </header> <!-- page-header -->





<div class="grid-x">
  <div class="medium-9 large-10 cell">
    <%= render :partial => "layouts/show_flash" %>

    <%= yield %>
  </div>

  <aside class="medium-3 large-2 cell" >

    <%= render :partial => 'layouts/rightbar' %>

  </aside>
</div> <!-- /.grid-x -->





<hr />
<footer>
  <p align="right"><%= Rails.application.config.service_name %> powered by <a href="https://www.nslabs.jp/" target="_blank">Q&#39;s Web Diary</a>.
</footer>

</body>
</html>
