<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= tag "link", :rel => "start",  
                    :href => Rails.application.config.app_root_url + "/" %>
    <base target="_top" />
    <title>
<% if !(controller.controller_name == 'blogs' &&
                                  controller.action_name == 'show') %>
      <%= @page_title %> -
<% end %>
      <%= @blog.name %>
      | <%= Rails.application.config.service_name %>
    </title>

    <link rel="stylesheet" href="/stylesheets/foundation.min.css" />
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= tag "link", :rel => "stylesheet", 
                    :href => WebDiary::Application.config.theme_base_url + 
                             "/" + @blog.theme_filename + "/" + 
                             @blog.theme_filename + ".css",
                    :type => "text/css", :id => "themelink" %>

    <script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript"></script>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
    <%= yield :head %>
    <%= render :partial => "layouts/google" %>
  </head>
<body id="top" >
  <script src="/javascripts/foundation.min.js" type="text/javascript"></script>

  <%= render :partial => "layouts/navbar" %>

<% if controller.controller_name == 'blogs' &&
                                        controller.action_name == 'show' %>
<header class="callout large primary">
  <div class="text-center">
    <h1><%= @blog.name %></h1>
  </div>
  <p style="margin-top:1em;">
    <%= Sanitize.clean(@blog.lead,
                       Sanitize::Config::BASIC)[0..200].html_safe %>
</header>
<% else %>
<h1><%= (@page_title || raise) %> - <%= @blog.name %></h1>
<% end %>


<div class="grid-x">
  <!-- main -->
  <div class="medium-9 large-10 cell">

<% if @blog.user_group.member?(current_user) %>    
  <nav class="adminmenu">
    <div style="float:right">|
      <span class="adminmenu">
        <%= link_to "管理メニュー", 
                    :controller => "blog_admin", :blog_urlkey => @blog.urlkey %>
      </span>
    </div>
  </nav>
<% end %>
  
<% # notice, alert を表示
  %>        
    <%= render :partial => "layouts/show_flash" %>

<%= yield %>

  </div> <!-- end of main -->

  <!-- sidebar -->
  <aside class="medium-3 large-2 cell" data-sticky-container >

<% if @blog_tags %>
    <h4>Tags</h4>
<%   @blog_tags.each do |tag| %>
    <%= link_to "#{tag.name}(#{tag.cnt})",
                :controller => "tags", :action => "show", :blog_urlkey => @blog.urlkey, :id => tag %>
<%   end
   end %>

<% if @blog_members %>
    <h4>Members</h4>
<%   @blog_members.each do |member| %>
    <%= link_to member.name,
                :controller => "users", :action => "show", :login => member.login %>
<%   end %>    
<% end %>
  
    <%= render :partial => 'layouts/rightbar' %>

  </aside> <!-- end of sidebar -->

</div><!-- /.grid-x -->


  <footer class="footer" style="clear:both;">
  みんなの日記帳 powered by <a href="http://www.nslabs.jp/" target="_blank">Q's Web Diary</a>.
  </footer>

<script type="text/javascript">
  $(document).foundation();
</script>
</body>
</html>
